.bar-chart {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  background: repeating-linear-gradient(
    to top,
    #ddd,
    #ddd 1px,
    #fff 1px,
    #fff 15%
  );
  height: 300px;
  width: 75%;
  padding-inline: 2%;
  margin-top: auto;
  margin-bottom: 0%;
  position: relative;
  top: 35%;
  left: 15%;
}
.bars-container {
  display: inline-block;
}
.bar-chart .bar-q2,
.bar-chart .bar-q4 {
  display: inline-block;
  position: relative;
  top: 40%;
}
.bar-chart .bar-q2 {
  background-color: orange;
  margin-left: 2%;
}
.bar-chart .bar-q4 {
  background-color: green;
  margin-right: 2%;
}
.bar-chart .y-axis {
  position: absolute;
  top: 38%;
}
.bar-chart .chart-key {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 6px 3px 6px 3px;
  border: 1px solid rgb(161, 160, 160);
}
.chart-key .color-box {
  width: 40px;
  height: 12px;
  display: inline-block;
  margin-inline: 2px;
}
.chart-key .color-title {
  font-size: 13px;
  display: inline-block;
  margin-block: auto;
  margin-inline: 2px;
}

/*different screens*/
@media (min-width: 250px) {
  .bar-chart .bar-q2,
  .bar-chart .bar-q4 {
    width: 5%;
  }
  .bar-chart .y-axis {
    left: -7%;
  }
}
@media (min-width: 641px) {
  .bar-chart .bar-q2,
  .bar-chart .bar-q4 {
    width: 4%;
  }
  .bar-chart .y-axis {
    left: -5%;
  }
}
@media (min-width: 1008px) {
  .bar-chart .bar-q2,
  .bar-chart .bar-q4 {
    width: 3%;
  }
  .bar-chart .y-axis {
    left: -5%;
  }
}
