header {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  text-align-last: center;
  border-bottom: 1px solid rgb(221, 217, 217);
}
header h1 {
  color: #ffbb1c;
  font-size: 35px;
}

section {
  display: flex;
  justify-content: space-between;
}
section .date-container {
  display: flex;
  flex-direction: column;
  padding-inline: 1%;
  margin-block: 10%;
}
.date-container .date-picker {
  margin: 2% 5%;
}

section .chart-container {
  padding: 5%;
}

/*different screens*/
@media (min-width: 250px) {
  section {
    flex-direction: column;
  }
  section .date-container,
  section .chart-container {
    flex: 90%;
    padding: 3%;
  }
  .date-container .date-picker {
    flex: 70%;
  }
}
@media (min-width: 641px) {
  section {
    flex-direction: column;
  }
  section .date-container,
  section .chart-container {
    flex: 90%;
  }
  .date-container .date-picker {
    flex: 45%;
  }
}
@media (min-width: 1008px) {
  section {
    flex-direction: row;
  }
  section .date-container {
    flex: 30%;
  }
  section .chart-container {
    flex: 60%;
  }
  .date-container .date-picker {
    flex: 70%;
  }
}
