header {
  background-color: #ffffff;
  width: 100%;
  height: 75px;
  text-align-last: center;
  border-bottom: 1px solid rgb(221, 217, 217);
}
header h1 {
  color: #ffbb1c;
  font-size: 32px;
}
section {
  display: flex;
  justify-content: space-between;
}
section .date-container,
.chart-container {
  padding-inline: 1%;
  margin-block: auto;
}

/*different screens*/
@media (min-width: 250px) {
  section {
    flex-direction: column;
  }
  section .date-container,
  section .chart-container {
    flex: 90%;
    padding: 3%;
  }
}
@media (min-width: 641px) {
  section {
    flex-direction: column;
  }
  section .date-container,
  section .chart-container {
    flex: 90%;
  }
}
@media (min-width: 1008px) {
  section {
    flex-direction: row;
  }
  section .date-container {
    flex: 30%;
  }
  section .chart-container {
    flex: 60%;
  }
}
